# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/


# BM25
storage/bm25/

# Logs
*.log

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
storage/metadata/
storage/cache/
storage/storage.zip
logs/